ion-view(title='Playlists')
  ion-nav-buttons(side='left')
    button.button.button-icon.icon.ion-navicon(menu-toggle='left')

  ion-content
    ion-list
      ion-item(ng-repeat='playlist in playlists', href='#/playlists/{{playlist.id}}')
        | {{playlist.title}}
